body { background: #5db97b; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 14px; display: flex; }
.block-cache-0 { color: #2300e0; font-size: 15px; margin-bottom: 5px; }
.block-shipping-1 { color: #d4b0cc; font-size: 21px; margin-bottom: 5px; }
.block-cluster-2 { color: #d945d8; font-size: 21px; margin-bottom: 5px; }
.block-invoice-3 { color: #b55d0d; font-size: 13px; margin-bottom: 5px; }
.block-shipping-4 { color: #5c7b52; font-size: 15px; margin-bottom: 5px; }
.block-sms-5 { color: #e35505; font-size: 18px; margin-bottom: 5px; }